@font-face {
  font-family: "fontRoot";
  src: url("./assets/fonts/Society-Regular.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mabook";
  src: url("./assets/fonts/Mabook.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;

  background: #97e580;

  font-family: "fontRoot", sans-serif;
}

button,
input,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}